body{
    background:radial-gradient(#eeee, #e5e5e5, #eeee) ;
}

.card{
    width: 20 rem;
    height:95%;
}

.card1{
    background: linear-gradient(to bottom, #FFFFFF 50%, #cd8c2e 50%);
    position: relative;
    overflow: hidden;
    background-size: 100% 200%;
    transition: background-position 0.8s;
}

.card2{
    background: linear-gradient(to bottom, #FFFFFF 50%, #3f7e44 50%);
    position: relative;
    overflow: hidden;
    background-size: 100% 200%;
    transition: background-position 0.8s;
}

.card3{
    background: linear-gradient(to bottom, #FFFFFF 50%, #3dae4a 50%);
    position: relative;
    overflow: hidden;
    background-size: 100% 200%;
    transition: background-position 0.8s;
}

.card4{
    background: linear-gradient(to bottom, #FFFFFF 50%, #28426e 50%);
    position: relative;
    overflow: hidden;
    background-size: 100% 200%;
    transition: background-position 0.8s;
}
.card:hover{
    background-position: 0 100%;
    box-shadow:5px 10px 20px 1px rgba(0, 0, 0, 0.353) !important;
}

.card-body{
    padding: 3rem 0 !important;
}

.card-text{
    font-size: .9rem;
    padding: 0.4rem 1.9rem;
}

.card:hover p{
    color: #FFFFFF !important;
}

.card:hover h4{
    color: #FFFFFF !important;
}

.container-fluid.row{
    padding-top:6rem;
}

.card-img-top{
    height: 100%;
    transform:scale(1);
}

.card:hover img{
    transform:scale(0.96) !important;
}